<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
 	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	
	<!-- Beans de negocio -->
	<bean id="gestionCSV" class="es.espublico.ejercicio.negocio.GestionCSV">
		<property name="csvDao" ref="csvDao" />
	</bean>
	
	<bean id="gestionStarWars" class="es.espublico.ejercicio.negocio.GestionStarWars">
		<property name="starWarsDao" ref="starWarsDao" />
		<property name="restTemplate" ref="restTemplate" />
	</bean>

	<!-- Para el mapeo POJO-JSON: Este bean se lee con component-scan de Spring-boot, así que lo dejamos comentado -->
<!-- 	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate" /> -->
	
</beans>
